.card {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: rgb(199, 206, 213);
    padding: 10px;
    border-radius: 15px;
    max-width: 400px;
    min-width: 200px;
}
.card__image {
    width: 100%;
}
.card__info {
    padding: 5px;
}
